* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
  line-height: 20px;
  margin-bottom: 20px;
}
h4 {
  font-size: 24px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 15px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}

small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #444;

  font-weight: bold;
}

a:hover {
  color: #02b8dd;
}

.header {
  height: 120px;
}

.header h1 {
  float: left;
  font-size: 45px;
  font-weight: bold;
  font-family: "Crete Round", serif;
  margin-left: 20%;
  margin-top: 20px;
}

.header-nav {
  float: right;
  margin-right: 20%;
  margin-top: 36px;
}

.header-nav-item {
  float: left;
  margin: 8px;
  list-style: none;
  font-weight: bold;
  display: block;
}

#hero-image {
  height: 580px;
  padding-top: 1px;
  background: #e8eced url(images/hero.jpg) no-repeat center;
}

#hero-image h2 {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin: 180px 0 40px 0;
}

.button1 {
  display: block;
  text-align: center;
  background: #444;
  border-radius: 3px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}

.button1:hover {
  background-color: #02b8dd;
  color: #fff;
}

#features ul {
  margin: 80px 0;
}

.row {
  margin-top: 0;
  margin-left: 17%;
  padding: 0 10px;
  width: 1000px;
}

#features ul li {
  width: 300px;
  padding-top: 140px;
  float: left;
  margin-right: 10px;
  text-align: center;
  list-style: none;
}

#features ul li.feature1 {
  background: url(images/icon1.png) no-repeat top center;
}
#features ul li.feature2 {
  background: url(images/icon2.png) no-repeat top center;
}
#features ul li.feature3 {
  background: url(images/icon3.png) no-repeat top center;
}
.row1 {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
#primary-content {
  background-color: #f8fafa;
  padding: 60px 0;
  text-align: center;
}

#primary-content h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

#primary-content a img {
  margin: 20px 0;
}

.row2 {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
#secondary-content {
  padding: 60px 0;
  text-align: center;
}

#secondary-content article {
  width: 460px;
  height: 270px;
  float: left;
  background-color: #f5f5f5;
}

#secondary-content article:first-child {
  margin-right: 20px;
}

#secondary-content article .overlay {
  background: rgba(255, 255, 255, 0.95);
  height: 230px;
  width: 190px;
  padding: 20px;
}

.overlay h4 {
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}

.more-link {
  border: 1px solid #02b8dd;
  color: #02b8dd;
  padding: 6px 20px;
  border-radius: 3px;
}

.more-link:hover {
  background-color: #02b8dd;
  color: #fff;
}

.clear {
  clear: both;
}

footer {
  padding: 60px 0;
  background-color: #f8fafa;
}

.row3 {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

#footer-info {
  width: 380px;
  float: left;
  margin-top: 10px;
}

#footer-links {
  width: 520px;
  float: right;
}

#footer-links ul {
  width: 150px;
  float: left;
  padding-left: 120px;
}

#footer-links ul li {
  margin: 10px 0;
}
